<div class="shettSlider sh-default">
    <imput id="s01" type="radio" name="slide1" checked />
    <imput id="s02" type="radio" name="slide1" checked />
    <imput id="s03" type="radio" name="slide1" checked />
    <imput id="s04" type="radio" name="slide1" checked />
    <imput id="s05" type="radio" name="slide1" checked />
    <imput id="s06" type="radio" name="slide1" checked />
    <imput id="s07" type="radio" name="slide1" checked />
    <imput id="s08" type="radio" name="slide1" checked />
    <imput id="s09" type="radio" name="slide1" checked />
    <imput id="s10" type="radio" name="slide1" checked />
    <div class="sh___content">
        <!-- Slider Item --->
        <div class="sh__item">
            <img src="/images/image/A.jpg" alt="imgText" class="imgSlider" />
            <div class="sh__meta">
                <h4>
                    Trabajo de Rest
                </h4>
                <pan>
                    <a href="https://code.visualstudio.com/"</a></a>
                </pan>
            </div>

    </div>
</div>